<head>
  <!-- <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$','$$'], ['\\(','\\)']],
        processEscapes: true,
        processEnvironments: true,
        processRefs: true
      },
      extensions: ["tex2jax.js"],
      Tex: {
        equationNumbers: { autoNumber: "AMS" },
        extensions: ["AMSmath.js","AMSsymbols.js"]
      }

    });
  </script>
  <script type="text/javascript" async
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
  <script
    type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "AMS" } } }); </script>
  <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [['$','$'], ['\\(','\\)']],
              displayMath: [['$$','$$'], ['\\(','\\)']],
              processEscapes: true,
              processEnvironments: true,
              processRefs: true
            },
            TeX: {
              extensions: ["color.js"]
            }
         });
       </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>
</head>
</head>